# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Find class'
      'command': 'cpp-refactor:find-class'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'cpp-refactor'
      'submenu': [
        {
          'label': 'Find class'
          'command': 'cpp-refactor:find-class'
        }
      ]
    ]
  }
]
